#form {
    width: 400px;
    height:400px;
    margin:auto;
    margin-top:60px;
    background-color: black;
    justify-content: center;
    justify-items: center;
    border-radius: 10px 10px 10px 10px;
  }
  input{
      width:60%;
      height:20px;
      margin:10px;
      margin-left:75px
     
  }
  #submit{
      color:rgb(245, 240, 240);
      background-color: rgb(87, 156, 21);;
      border-radius:5px 5px 5px 5px;
      width:30%;
      height: 30px;
      margin-left:130px
      
  }
  h1{
      text-align: center;
      margin-top: 29px;
      color:white;
  }
  #submit:hover{
      color:red;
      background-color: rgb(61, 61, 39);
  }
  
  